
:root {
    --primary-blue: #2c3e50;
    --secondary-green: #1abc9c;
    --secondary-blue: #3a546d;
}

img {
    width: 100%;
}

.line-star {
    width: 100px;
    height: 5px;
}

.color-green-bg {
    background-color: var(--secondary-green);
}

p {
    padding: 0px 60px;
}

.bg-my-blue {
    background-color: var(--secondary-blue);
}

.bg-my-dark-blue {
    background-color: var(--primary-blue);
}
