
:root {
    --primary-blue: #2c3e50;
    --secondary-green: #1abc9c;
    --secondary-blue: #3a546d;
}

img {
    width: 100%;
}

.hero-img {
    width: 250px;
}

p {
    padding: 0px 60px;
}

.line-star {
    width: 100px;
    height: 5px;
}

.text-my-green {
    color: var(--secondary-green);
}

.text-my-dark-blue {
    color: var(--primary-blue);
}

.bg-my-green {
    background-color: var(--secondary-green);
}

.bg-my-blue {
    background-color: var(--secondary-blue);
}

.bg-my-dark-blue {
    background-color: var(--primary-blue);
}

.icon-wrapper {
    font-size: 1.5rem;
}